@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Thin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-ThinItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-LightItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-MediumItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/MaterialIcons-Regular.woff2') format('woff2'),
       url('./fonts/MaterialIcons-Regular.woff') format('woff'),
       url('./fonts/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html, html body {
  font-family: 'Roboto', sans-serif;
  height:100%;
}
body {
  font-size: 13px;
  line-height: 20px;
  margin:0px;
  overflow: hidden;
}
h2{
  font-size: 16px;
  font-weight: 500;
}
h1{
  font-size: 18px;
  font-weight: 500;
}

td:last-child, th:last-child {
  padding-right: 24px !important;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/*common use*/
.left{
  float:left;
}

#content {
  height:100%;
}

.pCenter {
  width:100%;
  height:100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.TableInTable {

}

.DynTable {
  width: 100%;
}

.DynTable thead {
  border-bottom: 1px solid black
}

.DynTable thead th {
  font-size: 16px;
  font-weight: 300;
  height: 32px;
  padding-right: 24px;
}

.DynTable th, .DynTable td{
  max-width: 300px;
  min-width: 100px;
}

.DynTable th.delCol, .DynTable td.delCol{
  max-width: 50px;
  min-width: 50px;
}

.detailTitle {
  width: 100%;
  height: 48px;
  border-bottom: 1px solid RGBA(0,0,0,.12);
}

.detailTitle .title {
  font-size: 20px;
  padding: 12px 24px;
  display: inline-block;
}

.detailTitle .title span{
  line-height: 24px;
  vertical-align: top;
}

.fixWidthSpan {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.InlineScript {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.FullScript {
  display:block;
  max-height: 300px;
  overflow-y:auto;
  width: 100%;
  font-style: normal;
  font-size: 12px;
  font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
  white-space: pre-wrap;
  padding: 8px;
  border: 1px solid RGBA(0,0,0,.12);
}

.seperateBar {
  background-color: RGBA(0,0,0,.12);
  height:1px;
  margin:20px 0;
}

.TableInTable div, .InlineScript div {
  display: inline-block;
  padding-right: 8px;
  vertical-align: top;
}

.TableCell {
  width: auto;
}

.Compact .TableCell .DetailsItem .ColumnField {
  width: 100%;
}
.TableCell .DetailsItem {
  display: inline-block;
  min-width: initial !important;
  padding: 0 8px 0 0 !important;
  width: 100%;
  max-width: calc(50% - 8px);
}

.TableCell.column1 .DetailsItem {
  max-width: calc(100% - 8px);
}

.TableCell.column2 .DetailsItem {
  max-width: calc(50% - 8px);
}

.TableCell .DetailsItem .ColumnField {
  display: inline-block;
  top: auto;
}

.TableCell .DetailsItem .ColumnField label {
  line-height: auto !important;
}

.DetailsColumn {
  width: 100%;
  transition: all 1000ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}


.Compact .DetailsColumn .DetailsItem .ColumnField {
  display: inline-block;
  width: 100%;
}

.Regular .DetailsColumn .DetailsItem .ColumnField {
  display: inline-block;
  width: 100%;
}

.Regular .DetailsItem, .Regular .ListField {
  width: 100%;
}

.Compact .DetailsItem, .Compact .ListField {
  width: 100%;
}

.hBoxContainer.column2 .ListField {
  display: inline-block !important;
  width: 50% !important;
  max-width: 100%;
}

.hBoxContainer.column2 .ListField .DetailsItem {
  width: 100% !important;
}

.PageHeader {
  font-size: 18px;
  border-bottom: 1px solid #e0e0e0;
  line-height: 60px;
  height: 60px;
  display: block;
  padding-left: 24px;
}

.PageContent {
  min-width: 720px;
  width: 100%;
}

.DetailsItem.diff {
  background-color: #FFFFDD;
}

.DetailsItem {
  display: block;
  position: relative;
  padding: 12px 24px 0px;
  overflow: hidden;
  min-width: 210px !important;
}

.DetailsItem hr {
  height:0;
}

.DetailsItem .CheckBox {
  width: 100%;
  padding-top: 24px;
  padding-bottom: 20px;
}

.ColumnField.diff {
  background-color: #FFFFDD;
}

.hBoxContainer {
  position: relative;
  font-size: 16px;
  min-height: 72px;
}

.ListField .hBoxContainer {
  padding: 42px 0 12px;

}

.ListField .hBoxContainer .CheckBox {
  padding-top: 32px;
}

.hBoxContainer>label.Label {
  padding-left: 28px;
}

.hBoxContainer>label.Title, .CheckboxGroup>label.Title, .ListField>label.Title {
  padding-left: 24px;
}

.hBoxContainer.column1 .DetailsItem, .hBoxContainer.column1 .CheckboxGroup, .CheckboxGroup.column1 .CheckBox, .RadioBoxGroup.column1 .CheckBox {
  display: inline-block !important;
  width: 100% !important;
  max-width: 100%;
}
.hBoxContainer.column2 .DetailsItem, .hBoxContainer.column2 .CheckboxGroup, .CheckboxGroup.column2 .CheckBox, .RadioBoxGroup.column2 .CheckBox {
  display: inline-block !important;
  width: 50% !important;
  max-width: 100%;
}
.hBoxContainer.column3 .DetailsItem, .hBoxContainer.column3 .CheckboxGroup, .CheckboxGroup.column3 .CheckBox, .RadioBoxGroup.column3 .CheckBox {
  display: inline-block !important;
  width: 33.33% !important;
  max-width: 100%;
}
.hBoxContainer.column4 .DetailsItem, .hBoxContainer.column4 .CheckboxGroup, .CheckboxGroup.column4 .CheckBox, .RadioBoxGroup.column4 .CheckBox{
  display: inline-block !important;
  min-width: 120px !important;
  width: 25% !important;
  max-width: 100%;
}

.hBoxContainer .DetailsItem .CheckBox {
  padding: 12px 0;
}

.TableCell .DetailsItem .CheckBox {
  padding: 12px;
}

.hBoxContainer .DetailsItem {
  display: inline-block;
  padding-top: 0px;
  min-width: 150px !important;
  width: 33.33%;
  vertical-align: top;
}

.inlineContainer {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid RGBA(0,0,0,.12);
}

.inlineContainer .DetailsItem {
  display: inline-block;
  flex: 1;
  padding-top: 0px;
  min-width: 150px !important;
}

.Script {
  font-style: normal;
  font-size: 12px;
  font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
  white-space: pre-wrap;
  padding-left: 46px;
}

.inlineCompList {
  display: inline-block;
  vertical-align: top;
}

.inlineCompList .inlineCell {
  display: inline-block;
  vertical-align: top;
  padding: 0 8px;
  margin: 0 4px;
}

.CheckboxGroup>label.Label {
  padding-left: 0;
}

.CheckboxGroup {
  display: block;
  position: relative;
  margin-top: 16px;
  padding: 16px 24px 16px;
  overflow: hidden;
  min-width: 210px !important;
}

.CheckboxGroup .CheckBox {
  display: inline-block !important;
  padding: 12px 0;
  min-width: 160px !important;
  width: 33.33% !important;
  max-width: 300px;
}

.RadioBoxGroup {
  padding: 0 0 24px;
}

.RadioBoxGroup .CheckBox {
  display: block !important;
  padding: 12px 0 12px 24px;
}

.settings {
  padding:0 24px 24px 24px;
  overflow-y: scroll;
  height: calc(100vh - 56px);
}

.hide {
  display: none !important;
}

.new-user{width:300px;}

.fullWidth{width: 100% !important;}

.inline-blk{display: inline-block !important;}


.edit .DetailsColumn{width: 50%; vertical-align: top; }
.edit .DetailsColumn:nth-child(odd){width: calc(50% - 1px); border-right: 1px solid #CCCCCC;vertical-align: top; }

.headRow{display: -webkit-flex; display: flex;border-bottom: 1px solid #CCCCCC;}
.colTitle {border-bottom: 1px solid #e0e0e0; }
.colTitle {padding-left: 24px;font-size: 14px;font-weight: 500;padding-top: 10px;}
.colTitle.grey {color: rgb(169, 169, 169);}

.radioButton {
  margin: 0 0 0 16px;
}

.TableFixFooter {
  display: block;
  border-top: 1px solid #e0e0e0;
  height: 50px;
  line-height: 32px;
  padding: 10px 50px;
}

.bot-line{
  border-bottom: 1px solid #ccc;
}

.bold{
  font-weight: bold;
}

.DateBy {
  margin-top: 26px;
  padding-left: 24px;
}
.brochure-image{
  width:150px;
  height:212px;
}
.brochure-image img{
  width:150px;
  height:212px;
}

.cover-image{
  height:300px;
  width:600px;
}
.cover-image img{
  height:300px;
  width:600px;
}
.dropzone{
  position: relative;
  display: inline-block;
}
.dropzone.cover-image .dropzone.brochure-image{
  position: absolute;
  top: 0;
  left: 0;
}
.drop-text{
  position: absolute;
  top: 0;
  left: 0;
}

.bncBt{
  margin-top: 10px;
}

.saveBt{
  margin-top: 20px;
}

.grey {color: #757575;}
.about{font-size: 15px;padding: 24px 0px; height: calc(100vh - 56px);overflow-y: scroll;}
.aboutView{
  margin-top: 24px;
}
.abtMid{padding-bottom: 24px;}

/* brochure and cover */
.bnc{
  overflow-y: scroll;height: calc(100vh - 56px);
}
.productCoverImg{
  width:60%;
}

.assignPage-enter,
.assignPage-leave
{
    -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 0ms;
    -moz-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 0ms;
    -ms-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 0ms;
    -o-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 0ms;
    transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 0ms;
    position: absolute;
    display: block;
}

.assignPage-enter.assignPage-enter-active,
.assignPage-leave {
    top: 0vh;
}

.assignPage-leave.assignPage-leave-active,
.assignPage-enter {
    top: 100vh;
}

.hidden{
  display: none;
}

.configurable:hover{
    text-decoration: underline;
}

.hightLight:hover{
    background-color: rgba(0, 0, 0, 0.1);//hoverBackground:minBlack:
}


.FloatingPage {
  width:100%;
  height: 100vh;
  position:fixed;
  text-align: left;
  left:0;
  top:0;
  z-index: 1400;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.FloatingPage .Content {
  flex: 1;
  width: 100%;
  overflow-y: auto;
  padding-bottom: 24px;
}

.FloatingPage .Section .Title {
  font-size: 20px;
  display: block;
  padding: 16px 0;
}

.FloatingPage .Toolbar {
  padding:0px !important;
  border-bottom-width: 2px !important;
  background-color: $theme1Color !important;
  border-bottom: none;
  text-align: left;
}

.FloatingPage .ToolbarTitle {
  color: white !important;
  margin-left: 4px !important;
}

.FloatingPage .FlatButton {
  margin:10px !important;
  font-size: 16px !important;
}
